---

- name: detect java version
  include: version.yml

- name: set fact java_installed to false if version {{ java_version }} is not installed
  set_fact:
    java_installed: false
  when: (
    (java_major_version is defined and
     java_version != java_major_version | int))

- name: set fact java_installed to true if version {{ java_version }} is installed
  set_fact:
    java_installed: true
  when: (
    (java_major_version is defined and
     java_version == java_major_version | int))

- name: setting fact for java_alias
  set_fact:
    java_alias: "java-{{ java_version }}-corretto"
  when: java_alias is not defined

- name: setting fact for java_folder
  set_fact:
    java_folder: "/usr/lib/jvm"
  when: java_folder is not defined

- name: setting download url
  set_fact:
    java_download_url: '{{ java_map[ansible_os_family | lower][java_version].url }}'
  when: java_download_url is not defined

- name: setting download checksum
  set_fact:
    java_download_checksum: '{{ java_map[ansible_os_family | lower][java_version].checksum }}'
  when: java_download_checksum is not defined

- name: setting archive name
  set_fact:
    java_archive_name: '{{ java_download_url | basename }}'
  when: java_archive_name is not defined
