#!/bin/bash
cat <<EOF
{
  "java_home" : "{{ java_home }}",
  "date" : "{{ current_timestamp }}",
  "version": {
    "full": "{{ java_version_installed }}",
    "major" : "{{ java_major_version }}"
  }
}
EOF
